{% if S_TOPIC_PREVIEW %}
	<tr>
		<td class="row1" width="50%"><b class="genmed">{{ lang('TOPIC_PREVIEW_DISPLAY') ~ lang('COLON') }}</b></td>
		<td class="row2">
			<input type="radio" class="radio" name="topic_preview" value="1"{% if S_DISPLAY_TOPIC_PREVIEW %} checked="checked"{% endif %} /><span class="gen">{{ lang('YES') }}</span>&nbsp; &nbsp;
			<input type="radio" class="radio" name="topic_preview" value="0"{% if not S_DISPLAY_TOPIC_PREVIEW %} checked="checked"{% endif %} /><span class="gen">{{ lang('NO') }}</span>
		</td>
	</tr>
{% endif %}
