<!-- IF S_TOPICPREVIEW -->
	<!-- INCLUDEJS @vse_topicpreview/topicpreview.js -->
	<script>
		$(function() {
			$(".topictitle").topicPreview({
				"dir": "{S_CONTENT_DIRECTION}", // do not change
				"theme": "light", // use "light" or "dark"
				"delay": 1500, // the delay before showing topic previews (in milliseconds)
				"width": 360, // the width of topic previews (in pixels)
				"left": 35, // the position offset from the left (in pixels)
				"top": 25, // the position offset from the top (in pixels)
				"drift": 15, // sets the amount of vertical animation, use negative values to change direction (in pixels)
				"noavatar": "{T_TOPICPREVIEW_AVATAR}"
			});
		});
	</script>
<!-- ENDIF -->
