/**
* Topic Preview - Dark Theme
*
* Color schema:
* backgrounds: #1e1e1e
* borders:     #cecece
* box shadows: #808080
* font colors: #cecece
*/

@import url("light.css");

#topic_preview {
	background: #1e1e1e;
	-webkit-box-shadow: 1px 1px 3px #808080;
	-moz-box-shadow: 1px 1px 3px #808080;
	box-shadow: 1px 1px 3px #808080;
	color: #cecece;
}

#topic_preview:before,
#topic_preview.invert:after {
	background: #1e1e1e;
}
