.topicPreview {
	background: #fff; /* #333 dark theme */

	border: 1px solid #cecece;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	padding: 10px;
	margin-left: -40px;
	min-width: 40px;

	position: absolute;

	font-size: 12px;
	text-decoration: none;
	font-style: normal;
	color: #333; /* #fff dark theme */

	z-index: 10;
	
	display: none;
}

.topicPreview:before { /* Triangle */
	content: "";
	background: #fff; /* #333 dark theme */

	border: 0;
	border-top: 1px solid #cecece;
	border-right: 1px solid #cecece;

	width: 10px;
	height: 10px;
	margin-left: 15px;
	margin-top: -16px;

	display: block;
	position: absolute;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);

	display /*\**/: none\9;
	*display: none !important;
	*display: none;
}
