.tooltip {
	background: #fff;

	border: 1px solid #cecece;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	padding: 10px;
	margin-left: -40px;

	position: absolute;

/*	font-family: Arial; */
	font-size: 12px;
	text-decoration: none;
	font-style: normal;
	color: #444;
/*	text-shadow: 1px 1px 0 rgba(255,255,255,0.75); */

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1), inset 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1), inset 0 1px 0 #fff;	
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.1), inset 0 1px 0 #fff;	
	box-shadow: 0 1px 3px rgba(0,0,0,0.1), inset 0 1px 0 #fff;

	z-index: 10;	
}

.tooltip:before { /* Triangle */
	content: "";
	background: #fff;

	border: 0;
	border-top: 1px solid #cecece;
	border-right: 1px solid #cecece;	

	width: 10px;
	height: 10px;
	margin-left: 15px;
	margin-top: -16px;

	display: block;
	position: absolute;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);

	-webkit-box-shadow: inset -1px 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-o-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;

	display /*\**/: none\9;
	*display: none !important;
	*display: none;
}
