{% if S_TOPICPREVIEW and TOPICPREVIEW_THEME %}
	{% INCLUDECSS '@vse_topicpreview/' ~ TOPICPREVIEW_THEME ~ '.css' %}
	{% INCLUDEJS '@vse_topicpreview/topicpreview.js' %}
	<script>
		jQuery(function() {
			jQuery('.topictitle').topicPreview({
				dir: '{{ S_CONTENT_DIRECTION }}',
				delay: {{ TOPICPREVIEW_DELAY }},
				width: {{ TOPICPREVIEW_WIDTH }},
				drift: {{ TOPICPREVIEW_DRIFT }},
				position: {left: 35, top: 25},
				noavatar: '{{ T_THEME_PATH }}/images/no_avatar.gif'
			});
		});
	</script>
{% elseif S_TOPICPREVIEW and not TOPICPREVIEW_THEME %}
	<script>
		jQuery(function() {
			jQuery('.topictitle').attr('title', function() {
				return jQuery(this).closest('li, tr').find('.topic_preview_first').text() || undefined;
			});
		});
	</script>
{% endif %}
