<!-- IF S_TOPIC_PREVIEW -->
	<dl>
		<dt><label for="topic_preview1">{L_TOPIC_PREVIEW_DISPLAY}{L_COLON}</label></dt>
		<dd>
			<label for="topic_preview1"><input type="radio" name="topic_preview" id="topic_preview1" value="1"<!-- IF S_DISPLAY_TOPIC_PREVIEW --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label for="topic_preview0"><input type="radio" name="topic_preview" id="topic_preview0" value="0"<!-- IF not S_DISPLAY_TOPIC_PREVIEW --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
		</dd>
	</dl>
<!-- ENDIF -->
