
<script>

(function( $, document ){

	$.fn.topicPreview = function() {  

		return this.each(function() {

			var container = $(this).closest("li") /*$(this).closest("tr")*/,
				firstPostText = container.find(".topic_preview_first").text(),
				lastPostText = container.find(".topic_preview_last").text();

			$(this).attr("title", firstPostText);

			container.find(".icon_topic_latest").attr("title", lastPostText);

		});

	};

	$(document).ready(function() {

		$(".topictitle").topicPreview();

	});

})( jQuery, document );

</script>
