<!-- IF topicrow.TOPIC_PREVIEW_FP --><div class="topic_preview_first" style="display:none;">{topicrow.TOPIC_PREVIEW_FP}</div><!-- ENDIF -->
<!-- IF topicrow.TOPIC_PREVIEW_LP --><div class="topic_preview_last" style="display:none;">{topicrow.TOPIC_PREVIEW_LP}</div><!-- ENDIF -->
<!-- IF searchresults.TOPIC_PREVIEW_FP --><div class="topic_preview_first" style="display:none;">{searchresults.TOPIC_PREVIEW_FP}</div><!-- ENDIF -->
<!-- IF searchresults.TOPIC_PREVIEW_LP --><div class="topic_preview_last" style="display:none;">{searchresults.TOPIC_PREVIEW_LP}</div><!-- ENDIF -->